	<div class="related_links">
	Suggestions:
		<% @keywords.each do |keyword| %>
		<%= link_to keyword, :action => "search", :q => keyword %> 
		<%end%>
	</div>
	<br>

	        <div id="post_event_button">
            <%= link_to 'add an event', new_event_path, :class => 'btn btn-primary' %>
        </div>