<p>
<h3>Results for '<%= params[:q]%>'</h3>
</p>
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
<%= render @events %>
  </tbody>
</table>

<%= link_to 'New', new_event_path, :class => 'btn btn-primary' %>
