<div class="span8">
<div id ="event_details">
<h3>Subgenres</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
     
    </tr>
  </thead>
  <tbody>
    <% @subgenres.each do |subgenre| %>
      <tr>
        <td><%= link_to subgenre.name, subgenre_path(subgenre) %></td>
        <td>
        <% if current_user && current_user.uid == "568790501" %>
          <%= link_to 'Edit', edit_subgenre_path(subgenre), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', subgenre_path(subgenre), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          <%end%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user && current_user.uid == "568790501" %>
<%= link_to 'New', new_subgenre_path, :class => 'btn btn-primary' %>
<%end%>
</div>